/*@font-face {
    font-family: "Helvetica Neue";
    src: url("../fonts/101654053-HelveticaNeue.eot");
    src: url("../fonts/101654053-HelveticaNeue.eot?#iefix") format("embedded-opentype"),
    url("../fonts/101654053-HelveticaNeue.svg#Helvetica Neue") format("svg"),
    url("../fonts/101654053-HelveticaNeue.woff") format("woff"),
    url("../fonts/101654053-HelveticaNeue.ttf") format("truetype");
}
@font-face {
    font-family: "Helvetica Neue Thin";
    src: url("../fonts/578735352-HelveticaNeue-Thin.eot");
    src: url("../fonts/578735352-HelveticaNeue-Thin.eot?#iefix") format("embedded-opentype"),
    url("../fonts/578735352-HelveticaNeue-Thin.svg#Helvetica Neue") format("svg"),
    url("../fonts/578735352-HelveticaNeue-Thin.woff") format("woff"),
    url("../fonts/578735352-HelveticaNeue-Thin.ttf") format("truetype");
}
@font-face {
    font-family: "Helvetica Neue Bold";
    src: url("../fonts/872070313-HelveticaNeue-Bold.eot");
    src: url("../fonts/872070313-HelveticaNeue-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/872070313-HelveticaNeue-Bold.svg#Helvetica Neue") format("svg"),
    url("../fonts/872070313-HelveticaNeue-Bold.woff") format("woff"),
    url("../fonts/872070313-HelveticaNeue-Bold.ttf") format("truetype");
}*/