<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    {{#if csrfToken}}
    <meta name="csrf_token" content="{{csrfToken}}" />
    {{/if}}
    <title>{{> page/title}}</title>
</head>
<body>

    {{{body}}}

</body>
</html>
