<style>
    .error_body {
        font-family:proxima_nova_ltlight, Arial, Helvetica, sans-serif;
        border-top: 4px solid #739122;
        width: 896px;
        margin: 155px auto 0 auto;
    }
    .error_body div {
        padding: 40px;
        background: white;
        height: 500px;
        margin-left: auto;
        width: 372px;
    }
    .error_body h2 {
        margin: 0 20px 20px 0;
        color: #99BD4B;
        font-size: 26px;
        font-weight:normal;
    }
    .error_body span {
        font-size: 14px;
        color:#666;
    }
</style>
<div class="error_body">
    <div>
        <h2>
            Not Found
        </h2>
        <span>
            The page was not found.
        </span>
    </div>
</div>
